<div class="page page_{{page.title}} suppliers-page">
    {% section 'banner-with-text'%}
    {% section 'destination'%}
    {% section 'banner-bottom-with-text'%}
    {% section 'featured-collections-v2'%}
</div> 

